@{
    ViewBag.Title = "XacNhanDonHang";
}
<div style="background-color:brown">
<h2 style="font-family:Cambria;color:white">Xác nhận đơn hàng</h2>
<p style="font-size:25px; font-family:Cambria;color:white">Đơn hàng của quý khách đã được chúng tôi ghi nhận lại. Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn</p>
</div>