@{
    ViewBag.Title = "LichSu";
    Layout = "~/Views/Shared/_LayoutHinhAnh.cshtml";
}

<h2></h2>
<table class="col-lg-12">
    <tr>
        <td>
            <div >
                <div class="hovereffect">
                    <img class="img-responsive" src="~/Content/imgWEB/hinh1.jpg" alt="">
                    <div class="overlay">
                        <h2></h2>
                        <a class="info">Mạnh mẽ và bền bỉ, đó là những gì mà các chuyên gia và người tiêu dùng trên toàn thế giới nhận định về các mẫu đồng hồ tới từ thương hiệu đồng hồ Thụy Sĩ Certina.</a>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div >
                <div class="hovereffect">
                    <img class="img-responsive" src="~/Content/imgWEB/hinh2.jpg" alt="">
                    <div class="overlay">
                        <a class="info">Lịch sử thương hiệu đồng hồ TISSOT - Thiết lập những quy chuẩn mới</a>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div >
                <div class="hovereffect">
                    <img class="img-responsive" src="~/Content/imgWEB/hinh3.png" alt="">
                    <div class="overlay">
                        <a class="info">Chỉ mới ra mắt cách đây chưa đầy 40 năm nhưng lịch sử thương hiệu Police đã làm nên những điều ngoạn mục trong giới đồng hồ.</a>
                    </div>
                </div>
            </div>
        </td>
        
    </tr>
    <tr>
        <td>
            <div>
                <div class="hovereffect">
                    <img class="img-responsive" src="~/Content/imgWEB/hinh5.jpg" alt="">
                    <div class="overlay">
                        <a class="info">Những chiếc đồng hồ Longines ngày nay đã không còn xa lạ nhưng lịch sử hình thành và phát triển của thương hiệu đồng hồ này là cả một câu chuyện dài hơi thú vị.</a>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div>
                <div class="hovereffect">
                    <img class="img-responsive" src="~/Content/imgWEB/hinh6.jpg" alt="">
                    <div class="overlay">
                        <a class="info">Lịch sử thương hiệu đồng hồ Moschino Cheap & Chic - rẻ mà chất</a>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div>
                <div class="hovereffect">
                    <img class="img-responsive" src="~/Content/imgWEB/hinh7.jpg" alt="">
                    <div class="overlay">
                        <a class="info">Lịch sử thương hiệu Rado - Bậc thầy về công nghệ và thẩm mỹ</a>
                    </div>
                </div>
            </div>
        </td>
        
    </tr>
    <tr>
        <td>
            <div>
                <div class="hovereffect">
                    <img class="img-responsive" src="~/Content/imgWEB/hinh9.jpg" alt="">
                    <div class="overlay">
                        <a class="info">Swatch Group được thành lập vào đầu thập niên 1980. Đó là kết quả của cuộc sáp nhập giữa hai đại gia sản xuất đồng hồ Thụy Sỹ đang gặp khó khăn SSIH và ASUAG.</a>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div>
                <div class="hovereffect">
                    <img class="img-responsive" src="~/Content/imgWEB/hinh10.jpg" alt="">
                    <div class="overlay">
                        <a class="info" href="#">Đồng hồ Seiko khởi đầu một cách khiêm tốn vào năm 1881 và ngày nay nó đã trở thành một trong những thương hiệu hàng đầu thế giới.</a>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div>
                <div class="hovereffect">
                    <img class="img-responsive" src="~/Content/imgWEB/hinh11.jpg" alt="">
                    <div class="overlay">
                        <a class="info">Lịch sử thương hiệu đồng hồ Chronoswiss - Tiêu chuẩn cao nhất </a>
                    </div>
                </div>
            </div>
        </td>
        
    </tr>
    <tr>
       
        <td>
            <div>
                <div class="hovereffect">
                    <img class="img-responsive" src="~/Content/imgWEB/hinh12.jpg" alt="">
                    <div class="overlay">
                       
                        <a class="info">Lịch sử thương hiệu đồng hồ Freelook</a>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div>
                <div class="hovereffect">
                    <img class="img-responsive" src="~/Content/imgWEB/hinh4.jpg" alt="">
                    <div class="overlay">
                        <a class="info">Không nổi tiếng về lịch sử lâu đời hàng trăm năm tuổi nhưng Rado luôn được giới mộ điệu biết tới nhờ vị trí dẫn đầu và những đổi mới liên tục về chất liệu trong chế tác đồng hồ.</a>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div>
                <div class="hovereffect">
                    <img class="img-responsive" src="~/Content/imgWEB/hinh8.jpg" alt="">
                    <div class="overlay">
                        <a class="info" >Lịch sử thương hiệu đồng hồ Thomas Sabo - Đẳng cấp sành điệu</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
<br />
<br />
<br />
<br />
<table class="col-md-9" style="background-color:white">
    <tr>
        <td>
             <img class="img-responsive" src="~/Content/imgWEB/hinh2.jpg" alt="">
        </td>
        <td>
            <p>Thời gian đầu thành lập, xưởng sản xuất đồng hồ Tissot đầu tiên được đặt trong một ngôi nhà nằm trên con phố Crêt-Vaillant ở vùng Locle, khu vực Neuchatel của dãy núi Mountains, Thụy Sĩ – nơi sản sinh ra những chiếc đồng hồ đẳng cấp thế giới. Đây cũng là năm Tissot chế tạo ra chiếc đồng hồ có khả năng cùng lúc hiển thị hai múi giờ khác nhau. Thời gian này, Tissot đánh mạnh vào thị trường Mỹ, Nga và đạt được những bước tiến rất vững chắc.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Những năm 1980, Franco Moschino là một trong những nhà thiết kế thời trang đi đầu với phong cách “classico con twist” (sự cổ điển với những vòng xoáy). Kinh nghiệm 11 năm làm việc tại ngôi nhà thời trang danh giá Armani cùng niềm đam mê bất tận với sự sáng tạo đã giúp nhà thiết kế này gây dựng nên cho mình một nhãn hiệu thời trang với một phong cách rất “Franco”, khiến giới mộ điệu thời trang khi ấy và ngay cả đến ngày nay vẫn không ngừng yêu thích. Thương hiệu Moschino đã ra đời vào năm 1983.</p>
        </td>
        <td>
            <img class="img-responsive" src="~/Content/imgWEB/hinh6.jpg" alt="">
        </td>
    </tr>
    <tr>
        <td>
             <img class="img-responsive" src="~/Content/imgWEB/hinh7.jpg" alt="">
        </td>
        <td>
            <p>Tại một thị trấn nhỏ của Thụy Sĩ tên là Lengnau, có ba anh em Fritz, Ernst, and Werner Schlup cùng mở một xưởng sản xuất đồng hồ Schlup & Co vào năm 1917. Nhưng phải đến 40 năm sau, vào năm 1957, họ mới cho ra mắt bộ sưu tập đầu tiên mang tên Rado Uhren AG. Bộ sưu tập này chính là bước đầu tiên đưa cái tên Rado đi khắp thế giới và cũng là mở ra một câu chuyện thương hiệu phi thường.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Năm 1984, tại Bravia, Đông Nam nước Đức, khi đó, danh tiếng của nhà thiết kế Thomas Sabo đã nổi như cồn bởi sở hữu một đôi tay khéo léo, cùng những quy chuẩn đẳng cấp của một kỹ sư cùng gu thẩm mỹ tinh tế trong giới thời trang. Thomas Sabo được biết đến như một thương hiệu sản xuất trang sức bạc và đồng hồ với những thiết kế mới lạ, kĩ thuật tinh xảo và chất lượng hàng đầu. Đây chính là điều đã làm nên sự thành công của Thomas Soba sau 30 năm hình thành và phát triển. </p>
        </td>
        <td>
            <img class="img-responsive" src="~/Content/imgWEB/hinh8.jpg" alt="">
        </td>
    </tr>
    <tr>
        <td>
            <img class="img-responsive" src="~/Content/imgWEB/hinh12.jpg" alt="">
        </td>
        <td>
            <p>Vào năm 1999, tại Paris, chiếc đồng hồ Freelook đầu tiên ra mắt giới yêu đồng hồ như một thương hiệu thời trang của nước Pháp. Mang theo sứ mệnh của những nhà thiết kế người Pháp là phiên bản kết hợp hoàn hảo giữa đồng hồ cao cấp và đồng hồ thời trang, Freelook đã nhanh chóng lấn sân sang cả thị trường châu Mỹ và trở thành một phụ kiện trang sức được ưa chuộng</p>
        </td>
    </tr>
    <tr>
        <td>
             <p>Chronoswiss là hãng đồng hồ Thụy Sĩ cao cấp với trụ sở đặt tại địa danh Lucerne nổi tiếng, được biết đến như một thương hiệu đạt tiêu chuẩn cao nhất về chất lượng, uy tín vững bền và đặc biệt hơn cả là thương hiệu mang tinh hoa giá trị Thụy Sĩ truyền thống.</p>
        </td>
        <td>
            <img class="img-responsive" src="~/Content/imgWEB/hinh11.jpg" alt="">
        </td>
    </tr>
</table>